.Marcos {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Racing{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Copetti {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}